:root {
    --orange-color: #da722c;
    --dark-blue-color: #023047;
    --drak-color: #070917;
    --light-color: #E8F7FB;
    --light-blue-color: #6F7DFB;

}
*,
*::after,
*::before{
    box-sizing: border-box;
}

 /*Buttons*/

body{
    margin: 0;
    font-family: "Poppins",sans-serif;
}

.wrapper{
    max-width: 1134px;
    margin: 0 auto;
}

.btn{
    padding: 16px 32px;
    border-radius: 24px;
    color: white;
    display:inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}
.btn.dark{
    background: var(--dark-blue-color);

}

.btn.light{
    background: var(--orange-color);
}

.btn.enrol-icon::before{
    content:url("images/enrol-icon.svg") ;
    position:absolute;
    top:50%;
    left:32px;
    transform: translateY(-50%);

}

.btn.btn.enrol-icon{
    padding-left: 60px;
}

/* Header */

header{
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1134px; ;
    padding: 36px 0;
    top: 0;
    z-index: 100;
    transition: all 500ms ease;
}

nav.scrolled {
    background: var(--drak-color);
    box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 8px 8px;
    top: 0;
    padding: 12px;
}

nav .logo{
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #FFFFFF;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}

nav ul li a{
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

/* Hero section */

.hero-section{
    display: flex; /*elements place next to other*/
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.hero-section .left h1{
    font-family: 'Raleway',sans-serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    color: #FFFFFF;
    margin-bottom:0;
}

.hero-section .left p{
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #FFFFFF;
    margin-bottom: 30px;
    width: 457px;
}

.hero-section .left{
   flex: 1;
}

.hero-section .right{
    align-self: flex-end;
}


.hero-section .right img{
    height: 520px;
    vertical-align: middle;
}



/* achievement card */

.achievement-card{
    position: absolute;
}
.achievement-card .content{
    border-radius: 24px;
    background-color: #FFFFFF;
    padding:8px 32px ;
    z-index: 10;
    position: relative;

}

.achievement-card.students-enrolled{
    left: 49%;
    top: 370px;
}

.achievement-card.overall-rating{
    left: 48%;
    top: 570px;
    min-width: 200px;

}
.achievement-card .content div{
    display: flex;
    align-items: center;
    gap: 12px;
}

.achievement-card h3{
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: var(--dark-blue-color);
    margin: 0;
    text-align: center;
    width: 100%;
}

.achievement-card p {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 125%;
    color: var(--dark-blue-color);
    margin-top: -8px;
    margin-bottom: 8px;
}

.achievement-card .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #6F7DFB 0%, #3B448F 100%);
    border-radius: 24px;
    top: 8px;
    left: 8px;
    z-index: 1;
}

section{
    margin-top: 100px;
}

h2{
    font-family: 'Raleway',sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
    color: var(--dark-blue-color);
}

h2.light{
    color: #FFFFFF;
}

section p{
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: var(--dark-blue-color);
    margin: 12px 0;
}

.testimonials-section{
    display: flex;
    gap: 100px;
    align-items: center;
}

.testimonials-section .mobile-btn{
    display: none;
}

.testimonials-section .testimonial-card{
    width: 442px;
    background: #FFFFFF;
    box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    margin-bottom: 50px;
    position: relative;
}

.testimonials-section .testimonial-card::before{
    content: "";
    width: 28px;
    position: absolute;
    height: 40px;
    top: -40px;
    left: 60px;
    background: var(--dark-blue-color);
    border-radius: 24px 24px 0 0;
}
.testimonials-section .testimonial-card:last-child::before {
    left: 40px;
    top: -50px;
    border-radius: 0 0 24px 24px;
    height: calc(100% + 90px);
    z-index: -1;
}


.testimonials-section .testimonial-card .content{
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    border-radius: 24px;
    padding: 24px 32px;
    background: var(--light-blue-color);
}

.testimonials-section .testimonial-card:last-child .content{
    background: var(--orange-color);
}

.testimonials-section .testimonial-card .info h4{
    font-family: 'Raleway',sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
    margin: 0;
    color: var(--dark-blue-color)
}

.testimonials-section .testimonial-card .info{
    padding: 24px 32px;
    background: #FFFFFF;
    border-radius: 24px;
}

.testimonials-section .testimonial-card .info p.company{
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--dark-blue-color)
}

.testimonials-section .testimonial-card img{
    width: 120px;
    height: 120px;
    position: absolute;
    right: 32px;
    bottom: 20px;
}

.testimonials-section .testimonial-card:last-child{
    transform: translateX(20px)
}

.testimonials-section .features{
    margin-bottom: 30px;
}

/* Courses section */

.courses-section {
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    padding: 70px 0;
    padding-bottom: 120px;
}

.courses-section h2{
    text-align: center;
}

.courses-section .course-cards {
    display: flex;
    gap: 70px;
}

.courses-section .course-cards img{
    width: 100%;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
    border-radius: 24px;
}

.courses-section .course-card {
    background: #FFFFFF;
    border-radius: 24px;
    padding: 0px 32px;
    margin: 40px 0;
    position: relative;
}

.courses-section .course-card::after {
    content: "";
    height: 8px;
    left: 32px;
    right: 32px;
    bottom: 0;
    background: var(--dark-blue-color);
    border-radius: 24px;
    position: absolute;
}

.courses-section .course-card h3{
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    color: var(--dark-blue-color);
}

.courses-section .course-card .info {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.courses-section .course-card .duration {
    font-family: 'Raleway',sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    white-space: nowrap;
    color: var(--dark-blue-color);
    position: relative;
    padding-left: 20px;
}

.courses-section .course-card .duration::before{
    content: url(images/clock.svg);
    position: absolute;
    top: 2px;
    left: -6px;

}

.courses-section .wrapper {
    position: relative;
}
.courses-section .wrapper .btn {
    position: absolute;
    right: 0;
}

/* App section */

.app-section {
     text-align: center;
}

.app-section .app-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 24px;
}

.app-section .app-btn{
    padding: 20px 31px;
    background: #000;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 14px;
    min-width: 310px;
}

.app-section .app-btn span {
    font-family: 'Poppins',sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
}

/* Footer */
footer {
    background: var(--drak-color);
    color: #FFFFFF;
    margin-top: 100px;
    padding: 70px 70px;
}

footer a{
    text-decoration: none;
    color: #FFFFFF;
}

footer h3 {
    color: var(--orange-color);
}

footer ul{
    list-style: none;
    padding-left: 20px;
}

footer ul li{
    margin: 16px 0;
}

footer .links-container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
}

footer .social {
    margin-left: 20px;
}

footer .social a{
    margin-right: 28px;
}

footer form {
    margin-left: 20px;
    margin-top: 16px1;
    position: relative;
}

footer form input {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 200%;
    border-radius: 8px;
    padding: 8px 32px;
    border: none;
    width: 100%;
    color: #000000;
   
}

footer form .submit-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--dark-blue-color);
    border-radius: 8px;
    padding: 8px 32px;
    border: none;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;

}

footer .copyright{
    margin-top: 36px;
}